<div class="modal fade" id="addLeaveTypeModal" tabindex="-1" aria-labelledby="addFacultyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-header">
                <h5 class="modal-title" id="addFacultyLabel">Add New Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="facultyForm" method="POST">
                    {% csrf_token %}
                    <input type="text" name="action" value="addLeaveType" hidden>
                    <div class="mb-3">
                        <label for="facultyCode" class="form-label">Leave Type Code</label>
                        <input type="text" class="form-control" id="facultyCode" name="leaveTypeCode">
                    </div>
                    <div class="mb-3">
                        <label for="departmentName" class="form-label">Leave Type Name</label>
                        <input type="text" class="form-control" id="departmentName" name="leaveTypeName" required>
                    </div>
                    <div class="mb-3">
                        <label for="leaveTypeDescription" class="form-label">Leave Type Description</label>
                        <textarea class="form-control" id="leaveTypeDescription" name="leaveTypeDescription" rows="3"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn toggle-btn">Add Leave Type</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>