{% extends 'dashboard/main.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include 'dashboard/sidebar.html' %}

<!-- Main wrapper -->
<div class="body-wrapper">
    {% include 'dashboard/header.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row mb-4 align-items-center">
                    <div class="col-md-6">
                        <h5 class="fw-semibold">Leave Types</h5>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end gap-2">
                        <button class="btn toggle-btn" data-bs-toggle="modal" data-bs-target="#addLeaveTypeModal">
                            <i class="fas fa-plus"></i> New Leave Type
                        </button>
                    </div>
                </div>

                <style>
                    .toggle-btn {
                        background-color: #932626;
                        color: #ffffff;
                        border-color: #932626;
                        transition: all 0.3s ease-in-out;
                    }

                    .toggle-btn:hover {
                        background-color: #ffffff;
                        color: #932626;
                        border-color: #932626;
                    }
                </style>

                {% for leave_type in leave_types %}
                <div class="card mb-3">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title text-right mt-2 leave-type-name">
                                        {{ leave_type.name }}
                                    </h5>
                                    <p>{{ leave_type.max_days|floatformat:0 }} total days can be taken as <strong style="color: #932626;">{{ leave_type.name }}</strong> leaves. </p>
                                </div>
                                <div class="col-md-6 text-end">
                                    <a href="{% url 'update_leave_type' leave_type.uid %}" class="btn toggle-btn m-1 edit-btn" data-leave-type="{{ leave_type.uid }}">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>

                                    <a href="{% url 'delete_leave_type' leave_type.uid %}"
                                        class="btn toggle-btn delete-btn" data-leave-type="{{ leave_type.uid }}">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'dashboard/footer.html' %}
    {% include 'employees/leave-type-add-model.html' %}
</div>

{% endblock content %}