{% extends 'dashboard/main.html' %}

{% load static %}

{% block content %}


<!--  Main wrapper -->
<div class="body-wrapper" style="margin: 0; padding: 0;">
    

    <div class="container-fluid">
<div class="row mt-1 mb-4">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <img src="{% static 'theme_dashboard/assets/images/logos/logo.png' %}" width="190" alt="Company Logo" />
        
        <a href=" {% url 'employees' %} " class="btn me-2 toggle-btn">
            <i class="fas fa-arrow-left"></i> Go Back
        </a>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">

        <!-- Card Content -->
        <div class="card p-4">
            <div class="card-body">
                <!-- Profile Section -->
                <h4 class="mb-4">Profile</h4>
        
                <div class="row mt-5">
                    <!-- Profile Section -->
                    <div class="col-9 d-flex align-items-center">
                        <img src="{{ profile.profile_image.url }}" alt="Profile" class="rounded-circle me-3"
                            style="width: 100px; height: 100px; border: #212529 solid 1px; margin-right: 10px;">
                        <div>
                            <h5 class="mt-1 fw-bold mb-2"> {{ profile.full_name }} : {{ profile.username }} </h5>
                            <p class="mb-2 text-muted"> {{ profile.employee.position }} </p>
                            <p class="mb-0 text-muted"> {{ profile.employee.address }} </p>
                        </div>
                    </div>
        
                    <!-- Buttons Section -->
                    <div class="col-3 d-flex flex-column justify-content-between">
                        <button class="btn btn-primary toggle-btn p-2" disabled>Upload a profile Photo</button>
                        <button class="btn btn-light btn-cancel p-2" disabled>Delete</button>
                    </div>
                </div>
            </div>
            <hr class="m-4">

        
        
        
      

            {% csrf_token %}

            <div class="card-body">
                <h5 class="card-title">Employee ID</h5>
                <p class="card-text text-muted mb-4">#{{ profile.employee.employee_code }} </p>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label class="form-label">{{ form.employee_code.label_tag }}</label>
                        <div class="form-group">
                            {{ form.employee_code }}
                        </div>
                    
                    </div>
                    <div class="col-md-8 mb-4">
                        <label class="form-label">{{ form.full_name.label_tag }}</label>
                        <div class="form-group">
                            {{ form.full_name }}
                        </div>
        
                    </div>
                    
                    <div class="col-md-4 mb-3">
                        <label class="form-label">{{ form.date_of_birth.label_tag }}</label>
                        <div class="form-group">
                            {{ form.date_of_birth }}
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label"> {{ form.nic.label }} </label>
                        <div class="form-group">
                            {{ form.nic }}
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label"> {{ form.gender.label }} </label>
                        <div class="form-group">
                            {{ form.gender }}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-3">
        
        
        
        
   
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <label class="form-label"> {{ form.address.label }} </label>
                        <div class="form-group">
                            {{ form.address }}
                        </div>
                    </div>
        
                </div>
            </div>
            <hr class="m-3">
     
        
       
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label class="form-label"> {{ form.date_of_joining.label }} </label>
                        <div class="form-group">
                            {{ form.date_of_joining }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label"> {{ form.date_of_leaving.label }} </label>
                        <div class="form-group">
                            {{ form.date_of_leaving }}
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label"> {{ form.position.label }} </label>
                        <div class="form-group">
                            {{ form.position }}
                        </div>
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label class="form-label"> {{ form.department.label }} </label>
                        <div class="form-group">
                            {{ form.department }}
                        </div>
                    </div>
        
                </div>
            </div>
            <hr class="m-3">

        
            <div class="card-body">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <a href=" {% url 'employees' %} " class="btn btn-light me-2 btn-cancel">Cancel</a>
                        <button class="btn btn-primary toggle-btn">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <style>
            .toggle-btn {
                        background-color: #932626;
                        color: #ffffff;
                        border-color: #932626;
                        transition: all 0.3s ease-in-out;
                    }

                    .toggle-btn:hover {
                        background-color: #ffffff;
                        color: #932626;
                        border-color: #932626;
                    }
                    .toggle-btn:disabled {
                        background-color: #d6d6d6;
                        color: #ffffff;
                        border-color: #d6d6d6;
                        cursor: not-allowed;
                    }


                    .btn-cancel {
            background-color: #6c757d;
            color: white;
        }

        
                    .btn-cancel:hover {
             color: #5a6268;
            border: 1px solid #5a6268;            
            background-color: #ffffff;
        }
        
        </style>


        </div>

<div class="mb-4">
{% include 'dashboard/footer.html' %}
</div>
        
    </div>

    {% endblock content %}